<!doctype html>
<html class="bg-slate-900">
  <head>
    <title>DEMO</title>
    <link rel="stylesheet" href="/app/static/style.css">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  </head>
  <body class="max-w-lg mx-auto rounded-md">
    <nav class="rounded-t-md prose">
      <h1 class="m-0 ml-1">DEMO</h1>
      <ul class="m-0">
          <li><span>JohnDLP</span>
          <li><a href="/app/templates/auth/login.html">Log out</a>
      </ul>
    </nav>
    <section class="content">
      <header class="mb-2 flex justify-between">
        <h2 class="text-slate-700 my-2">Messages</h2>
        <div class="flex justify-end">
          <a class="action" href="/app/templates/inbox/send.html">New</a>
          <a class="action" href="/app/schema.sql">get DB</a>
        </div>
      </header>
    </section>
    <article class="post mx-4 mb-3 pl-2 border-l-4 border-slate-700">
      <header>
        <div>
          <h3 class="text-lg">JohnDLP from Robinson on 28/09/2022 8:28 pm</h3>
        </div>
      </header>
      <p class="body text-slate-600">Buenos dias bro, ¿Tenemos clases hoy?.</p>
    </article>
    <article class="post mx-4 mb-3 pl-2 border-l-4 border-slate-700">
      <header>
        <div>
          <h3 class="text-lg">JohnDLP from Robinson on 28/09/2022 8:28 pm</h3>
        </div>
      </header>
      <p class="body text-slate-600">Buenos dias bro, ¿Tenemos clases hoy?.</p>
    </article>
    <article class="post mx-4 mb-3 pl-2 border-l-4 border-slate-700">
      <header>
        <div>
          <h3 class="text-lg">JohnDLP from Robinson on 28/09/2022 8:28 pm</h3>
        </div>
      </header>
      <p class="body text-slate-600">Buenos dias bro, ¿Tenemos clases hoy?.</p>
    </article>
    <br>
  </body>
</html>
